In [1]:
import numpy as np
import pandas as pd

In [2]:
# To create a data frame

list = ['item1', 'ITEM 2', 'i t e m 3']
dataFrame = pd.DataFrame(list)
dataFrame

           0
0      item1
1     ITEM 2
2  i t e m 3

In [3]:
# To create a series from a dictionary

diction = {'name': 'David', 'species': 'Cat', 'colour': 'Black'}
serial = pd.Series(diction)
print(serial)

name       David
species      Cat
colour     Black
dtype: object

In [6]:
s = pd.Series([1,2,3,],index=['x','y','z'])
print(s)
print(s['y'])

x    1
y    2
z    3
dtype: int64
2