In [2]:
import numpy as np
import pandas as pd

## Pandas

- load, manipulate, prepare , model and analyze data

### Series
- One - dimentional array
- can store data of various types
- label is called index
- can easily be converted to list , touple . dictionary 
- it does not contain multiple columns

### DataFrame

- Two - dimentional or more array 
- Labeled axes( rows and columns)
- row index and column index

In [ ]:
# To create a series
info = np.array(['P','a','n','d','a','s'])

s = pd.Series(info)

print(s)

In [ ]:
# To create a DataFrame

import pandas as pd

info = ['Python','Pandas']

df = pd.DataFrame(info)

print(df)

In [ ]:
# Create a series from a dictionary

info = {'x':100,'y':1,'z':2}

s = pd.Series(info)
print(s[0])

In [ ]:
s = pd.Series([1,2,3],index=['x','y','z'])

print(s)
print(s[0])

In [ ]:
x = pd.Series(data=[2,4,6,8,np.NaN])
y = pd.Series(data=[10.5,12.5,16.5],index=['a','b','c'])

print(x.index)
print(x.values)

print(y.index)
print(y.values)

print(y[0])

print(x.dtype)

print(x.shape)
print(y.shape)

print(x.count())

print(len(x))

In [ ]:
a = pd.Series(['Python','Go','Java','C','C++'])

print(a)

a = a.map({'Python':'Data Analysis'})
# TO Check and come back about .map
print(a)

In [ ]:
# std using numpy

print(np.std([10,14,3,1,53,33,56]))

In [ ]:
# STD On a dataframe
info= {'Name':['Jiten','Kaleem','John','Anila'],   
      'Sem1':[65,46,87,56],
      'Sem2':[86,67,65,76]
      }
df = pd.DataFrame(info)
print(df['Name']) # Print Elements of Column Name
df.std()

In [ ]:
# Series to dataframe
emp = ['Jiten','Kaleem','John','Anila']
id = [100,103,104,108]

emp_series = pd.Series(emp)

id_series = pd.Series(id)

frame= {"Emp Details":emp_series,"ID":id_series}

df = pd.DataFrame(frame)
print(df)

In [ ]:
# 2021-12-15 Exercise 1.1 - Series
X = pd.Series([10, 15, 17, 21])
Y = pd.Series([15,22,24,27])
Z = pd.Series([27,29,25,34])
dfs = pd.DataFrame({'X': X, 'Y': Y, 'Z': Z})
print(dfs)

In [ ]:
# 2021-12-15 Exercise 1.2 - Dataframe
aDataFrame = pd.DataFrame(
    {
        "X": [10, 15, 17, 21],
        "Y": [15,22,24,27],
        "Z": [27,29,25,34]
    }
)
print(aDataFrame)

In [6]:
'''
2021-12-15 Exercise 2 - Write a Pandas program to
create and display a dataframe from a dictionary that has index labels
Sample data
name_data = ("name": ["Jitten", "Jayam", "Rahim", "John"])
scores_data = ("scores": [90, 80, 70, 60])
attempt_data = ("attempts": [0, 2, 4, 6])
label_data = ("Labels": ['A', 'B', 'C', 'D'])
'''
schoolData = pd.DataFrame(
    {
        "name":         ["Jitten", "Jayam", "Rahim", "John"],
        "scores":       [90, 80, np.NaN, 60],
        "attempts":     [0, 2, 4, np.NaN],
        "qualified":    ["Yes", "Yes", "No", "No"]
    }
)
studentIndex = ['Student ' + chr(i) for i in range(ord('A'),ord('E'))]
schoolData.index = studentIndex
print(schoolData)

             name  scores  attempts qualified
Student A  Jitten    90.0       0.0       Yes
Student B   Jayam    80.0       2.0       Yes
Student C   Rahim     NaN       4.0        No
Student D    John    60.0       NaN        No

In [ ]:
'''
2021-12-15 Exercise 3 - Create a Pandas Dataframe with 3-4 series
and provide a summary of information

hint: use df.Info function
'''
schoolData.info(verbose=bool)
aDataFrame.describe()

In [ ]:
'''
2021-12-15 Exercise 4 - Create a Pandas Dataframe
to fetch only a given number of rows of information.

Example:
If there are only 10 rows, get only 3 rows.
'''

exe4 = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
print(exe4.head())
print(exe4.tail(10))
print(exe4.loc[92:94,:])

In [ ]:
'''
2021-12-15 Exercise 5 - create a dataframe with 4 columns including name and score.
Fetch data of only name and score.
'''

schoolData.loc[:,'name':'scores']

In [ ]:
'''
2021-12-15 Exercise 6 - Create a DataFrame to print number of rows and number columns
'''
print(f'The number of rows in "schoolData" is: {len(schoolData)}')
print(f'The number of columns in "schoolData" is: {len(schoolData.columns)}')

In [ ]:
'''
2021-12-15 Exercise 7 - find missing rows of 'score' that is np.nan
'''
print(schoolData.isnull())

print(schoolData.fillna(np.mean(schoolData)))

In [10]:
"""
2021-12-15 Exercise 8:
1. fill score NaN with mean
2. fill attempts NaN with median
3. In qualified, change all yes to True and all no to False
"""
exercise8 = schoolData.replace({
    'scores':{
        np.NaN: schoolData["scores"].mean()
    },
    'attempts':{
        np.NaN: schoolData["attempts"].median()
    },
    'qualified':{
        'Yes': True,
        'No': False
    }
})
exercise8

             name     scores  attempts  qualified
Student A  Jitten  90.000000       0.0       True
Student B   Jayam  80.000000       2.0       True
Student C   Rahim  76.666667       4.0      False
Student D    John  60.000000       2.0      False

In [ ]:
# Mean on dataframe

info = pd.DataFrame({"A":[8,4,3,10,12,14],
                   "B":[12,4,14,6,7,16],
                    "C":[4,12,45,3,29,34],
                    "D":[14,13,4,12,13,15]})

#help(pd.DataFrame.mean)
#info.mean()
#info.head()
#info.count()
#info.sum()
table = pd.pivot_table(info,index=['A','B'],aggfunc=np.sum)
table

#help(pd.pivot_table)

In [ ]:

df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8], 
                   "D":[14, 3, None, 2, 6]})
  
# Print the dataframe
print(df)

df.median(axis = 1, skipna = True)